*
*/

!.gitignore
!README.md

!.github
!.github/*
!.github/workflows
!.github/workflows/*

!.env.example
!radarr-tagger
!radarr-tagger/*
!requirements.txt
!requirements-dev.txt
!Dockerfile
!.pylintrc

!conftest.py
!pytest.ini
!tests
!tests/*
